<h1>Greetings, <%= @job.name%>!</h1>


<p>
  User named <%= @faculty.name%> has applied to your post <%= @third.title%>
</p>


<a href="http://localhost:3000/jobs/<%= @third.id%>" class="btn btn-success" role="button">Go to Job page</a>