<%= form_tag(applications_path, method: :post) %>
<%= hidden_field_tag('job_id',@job.id) %>
<%= submit_tag "Apply for this Job Now", :class => 'btn btn-common btn-sm' %>
<!--<a href="#" class="btn btn-common btn-sm">Apply for this Job</a>-->