<% content_for :title do %>- Post a Job
<% end %>
<% content_for :current_header do %>Post a Job
<% end %>

<% content_for :content do %>
  <%= render 'inc/header' %>

  <div class="modal-dialog modal-lg">
    <a onclick="goBack()" class="btn btn-primary"><i class="ti-arrow-left"></i> Go Back</a>
    <br/>
    <br/>
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Post a Job</h3>
      </div>

      <%= render 'form', job: @job %>


    </div>
  </div>
<% end %>