<div class="row">
  <div class="col-md-12">

    <a href="<%= profile_path(current_user) %>">
      <div class="col-md-3 col-sm-3 col-xs-12 f-category">
        <div class="icon">
          <i class="ti-user"></i>
        </div>
        <h3>Profile</h3>
      </div>
    </a>
    <a href="#">
      <div class="col-md-3 col-sm-3 col-xs-12 f-category">
        <div class="icon">
          <i class="ti-bolt"></i>
        </div>
        <h3>Notifications</h3>
        <p><span class="badge">#</span></p>
      </div>
    </a>
    <a href="#">
      <div class="col-md-3 col-sm-3 col-xs-12 f-category">
        <div class="icon">
          <i class="ti-folder"></i>
        </div>
        <h3>My Guru Drive</h3>
      </div>
    </a>
    <%= link_to(destroy_user_session_path,method: :delete) do %>
      <div class="col-md-3 col-sm-3 col-xs-12 f-category">
        <div class="icon">
          <i class="ti-filter"></i>
        </div>
        <h3>Log Out</h3>
      </div>
      <% end %>
  </div>
</div>